@font-face {
    font-family: 'Suisse';
    src: url('../fonts/Suisse-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse';
    src: url('../fonts/Suisse-Semi-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}