//Color global
$color-main: #D6755B;

//Color fonts
$color-dark: #524D4D;
$color-light: #fff;

//Resolutions
$mobile: 600px;
$laptop-landscape: 1024px;
$laptop-portrait: 800px;


$polygon-head: polygon(0 0%, 100% 0, 100% 73%, 0 100%);
$polygon-footer: polygon(0 0%, 100% 0, 100% 81%, 0 100%);